.imagem1 {margin-top:20px;
    margin-left:20px;
    border:2px solid blue;
    border-radius:8px;
    background-color:yellow;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    height:300px;
    width:400px
}
    
.imagem2 {border:2px solid red;
    border-radius:8px;
    display:block;
    background-color:#b0e0e6;
    padding:10px;
    margin:auto;
    height:300px;
    width:400px
}